{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-html-template-literals"]
}
